*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #191919;
}

header{
    padding: 40px 50px 10px 50px;
    background-color: #191919;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 160px;
    height: 33px;
}

.menu{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

.menu a:hover{
    color: #118DA8;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.image{
    width: 650px;
    height: 873.44px;
}

.content{
    max-width: 500px;
}

.content h2{
    font-size: 70px;
    font-weight: 400;
    color: white;
    line-height: 88px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.content h2 span{
    font-size: 75px;
    font-weight: 400;
}

.content p{
    font-size: 15px;
    font-weight: 400;
}

.platforms{
    margin-top: 20px;

}

.icons{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}


/* SECTION */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 20px;
}

/* HEADER */
.headertext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.headertext h2 {
    font-size: 64px;
    font-weight: 400;
}

/* BUTTON */
.btn {
    background-color: #118DA8;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
}

/* CARD */
.card {
    display: flex;
    gap: 40px;
    background-color: #000;
    border-radius: 32px;
    padding: 40px;
    align-items: center;
    flex-wrap: nowrap;
}

.card img {
    width: 389px;
    border-radius: 12px;
    flex-shrink: 0;
}

/* CONTENT */
.content-2 {
    max-width: 600px;
    display: flex;              
    flex-direction: column;    
    justify-content: center;
}

.tag {
    display: inline-block;
    background-color: #191919;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 16px;
    width: 73px;
    height: 27px;
    top: 7.56px;
}

.number {
    color: #118DA8;
    margin: 16px 0;
}

.content-2 h3 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.desc {
    color: #b3b3b3;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}